PORT=3000
DB_HOST=localhost
DB_PORT=1433
DB_NAME=tienda
DB_USER=
DB_PASSWORD=
DB_DIALECT=mssql
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_INSTANCE=
DB_SYNC_ALTER=false
JWT_SECRET=cambiar-por-un-secreto-seguro
NODE_ENV=development
